/*Organização das Colunas*/

.col-left,
.col-right,
.middle {
    padding: 10px;
}


/* Style the left column */

.col-left {
    grid-area: left;
}

.col-right {
    grid-area: right;
}

.col-left,
.col-right {
    width: 245px;
    background-color: #F6F6F6;
}


/* Conteúdo Principal */

.middle {
    grid-area: middle;
    text-align: left;
    margin-top: 70px;
    width: 850px;
}