/* Conteúdo Principal */

.middle {
    grid-area: middle;
    background-color: red;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.content {
    grid-area: middle;
    text-align: center;
    text-justify: auto;
    width: 75%;
    border-style: solid;
    border-width: 15px;
    border-color: #fdc954;
    margin: 0 auto;
    padding: 15px;
    background-image: url("../images/index-content-back.png");
}

.content p {
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    ;
}

table,
th,
td {
    border: 1px solid black;
    margin: 25px 25px 25px 25px;
    background-color: white;
}

div#video iframe {
    margin: 0px 25px 25px 25px;
    padding: 2px;
    width: 500px;
    height: 400px;
}