/*Organizações Gerais da Página*/

body {
    padding: 0 !important;
    margin: 0 !important;
}

.master {
    display: grid;
    grid-template-areas: 'header header header header header header' 'middle middle middle middle middle middle' 'footer footer footer footer footer footer';
}


/*Organização do Header*/

.header {
    display: grid;
    grid-area: header;
    position: fixed;
    background-color: #B63117;
    width: 100%;
    padding: 10px;
}

.nav-bar img {
    margin-left: 10px;
}

.nav-bar ul {
    list-style: none;
    display: inline;
    position: fixed;
    right: 5px;
    padding: 15px;
}

.nav-bar ul li {
    display: inline;
    padding: 15px;
    margin-left: 5px;
    font-weight: bolder;
    background-color: red;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease;
}

.nav-bar ul li:hover {
    background-color: yellow;
    color: red;
}

.nav-bar ul a {
    text-decoration: none;
    color: white;
}


/*Organização do Footer*/

.footer {
    grid-area: footer;
    padding: 0px;
    text-align: center;
}

.footer a {
    color: #696969;
    text-decoration: none;
}