.middle .login {
    display: block;
    width: 40%;
    height: 40%;
    border-style: solid;
    border-color: black;
    margin: auto;
    margin-top: 80px;
}

.middle .buttom {
    background-color: red;
    padding: 10px;
    width: 80%;
    margin: auto;
}


/* Conteúdo Principal */

.middle {
    grid-area: middle;
    background-color: lightgray;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 25px;
    width: 100%;
}

.content {
    grid-area: middle;
    text-align: center;
    text-justify: auto;
    width: 75%;
    margin: 0 auto;
    padding: 15px;
}

.content p {
    text-align: justify;
}

table,
th,
td {
    border: 1px solid black;
    margin: 25px 25px 25px 25px;
}

div#video iframe {
    margin: 0px 25px 25px 25px;
    padding: 2px;
    width: 500px;
    height: 400px;
}